# This file was created by the command:
# ./steps/nnet3/xconfig_to_configs.py --xconfig-file steps/nnet3/multilingual/test_network.xconfig --config-dir steps/nnet3/multilingual
# It contains the entire neural network.

input-node name=input dim=64
component name=tdnn1.affine type=NaturalGradientAffineComponent input-dim=320 output-dim=1024  max-change=0.75
component-node name=tdnn1.affine component=tdnn1.affine input=Append(Offset(input, -2), Offset(input, -1), input, Offset(input, 1), Offset(input, 2))
component name=tdnn1.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn1.relu component=tdnn1.relu input=tdnn1.affine
component name=tdnn1.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn1.renorm component=tdnn1.renorm input=tdnn1.relu
component name=tdnn2.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=1024  max-change=0.75
component-node name=tdnn2.affine component=tdnn2.affine input=tdnn1.renorm
component name=tdnn2.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn2.relu component=tdnn2.relu input=tdnn2.affine
component name=tdnn2.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn2.renorm component=tdnn2.renorm input=tdnn2.relu
component name=tdnn3.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024  max-change=0.75
component-node name=tdnn3.affine component=tdnn3.affine input=Append(Offset(tdnn2.renorm, -1), Offset(tdnn2.renorm, 2))
component name=tdnn3.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn3.relu component=tdnn3.relu input=tdnn3.affine
component name=tdnn3.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn3.renorm component=tdnn3.renorm input=tdnn3.relu
component name=tdnn4.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024  max-change=0.75
component-node name=tdnn4.affine component=tdnn4.affine input=Append(Offset(tdnn3.renorm, -3), Offset(tdnn3.renorm, 3))
component name=tdnn4.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn4.relu component=tdnn4.relu input=tdnn4.affine
component name=tdnn4.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn4.renorm component=tdnn4.renorm input=tdnn4.relu
component name=tdnn5.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024  max-change=0.75
component-node name=tdnn5.affine component=tdnn5.affine input=Append(Offset(tdnn4.renorm, -3), Offset(tdnn4.renorm, 3))
component name=tdnn5.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn5.relu component=tdnn5.relu input=tdnn5.affine
component name=tdnn5.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn5.renorm component=tdnn5.renorm input=tdnn5.relu
component name=tdnn6.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024  max-change=0.75
component-node name=tdnn6.affine component=tdnn6.affine input=Append(Offset(tdnn5.renorm, -7), Offset(tdnn5.renorm, 2))
component name=tdnn6.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn6.relu component=tdnn6.relu input=tdnn6.affine
component name=tdnn6.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=tdnn6.renorm component=tdnn6.renorm input=tdnn6.relu
component name=tdnn_bn.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=512  max-change=0.75
component-node name=tdnn_bn.affine component=tdnn_bn.affine input=tdnn6.renorm
component name=tdnn_bn.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn_bn.relu component=tdnn_bn.relu input=tdnn_bn.affine
component name=tdnn_bn.renorm type=NormalizeComponent dim=512 target-rms=1.0 add-log-stddev=false
component-node name=tdnn_bn.renorm component=tdnn_bn.renorm input=tdnn_bn.relu
component name=prefinal-affine-lang.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=1024  max-change=0.75
component-node name=prefinal-affine-lang.affine component=prefinal-affine-lang.affine input=tdnn_bn.renorm
component name=prefinal-affine-lang.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=prefinal-affine-lang.relu component=prefinal-affine-lang.relu input=prefinal-affine-lang.affine
component name=prefinal-affine-lang.renorm type=NormalizeComponent dim=1024 target-rms=1.0 add-log-stddev=false
component-node name=prefinal-affine-lang.renorm component=prefinal-affine-lang.renorm input=prefinal-affine-lang.relu
component name=output.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=128 param-stddev=0.0 bias-stddev=0.0 max-change=1.5   
component-node name=output.affine component=output.affine input=prefinal-affine-lang.renorm
component name=output.log-softmax type=LogSoftmaxComponent dim=128
component-node name=output.log-softmax component=output.log-softmax input=output.affine
output-node name=output input=output.log-softmax objective=linear
